@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gilroy;
    }
    
html,
body
{
width: 100%;
height: 100%;
}
*::-webkit-scrollbar{
    display : none;
}
#main{
    width : 100%;
}
#pageOne{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}