@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Gilroy;
}
html,
body
{
width: 100%;
height: 100%;
}
*::-webkit-scrollbar{
    display : none;
}
#main{
    width : 100%;
}
#pageOne{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}
#nav{
    width: 100vw;
    background-color: #032541;
    height: 7vh;
    position: relative;
}
#navl{
    width: 40vw;
    position: absolute;
    height: 7vh;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    gap : 20px;
    align-items: center;
}
#navr{
    width: 30vw;
    position: absolute;
    height: 7vh;
    right: 5%;
    display: flex;
    justify-content : space-evenly;
    align-items: center;
}
.link{
    white-space: nowrap;
    color: white;
}
#logo{
    height: 7vh;
    width: 20%;
}
#logo img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#pic{
    width: 3vh;
    height : 3vh;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}
#pic img{
    width : 100%;
    height : 100%;
    background-size : cover;
    background-position : center;
}
#navr i{
    font-size: 3vh;
    color : white;
}
#welcome{
    height : 50vh;
    width : 90vw;
    position: relative;
    left : 5%;
}
#trending{
    height : 43vh;
    width : 90vw;
    position : relative;
    left : 5%;
}
#trending-nav{
    width : 100%;
    height : 5vh;
    display: flex;
    align-items: center;
    gap : 20px;
    padding-left: 7vh;
}
#trending-nav h3{
    font-weight: 600;
    font-size: 3vh;
}
#today{
    width: 10vw;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    border : 1px solid black;
}
#bt-1{
    width: 50%;
    height : 100%;
    padding-left: 7px;
    background : linear-gradient(to right,#174d79,#032541);
    color : white;
    border-radius: 20px;
    overflow: hidden;
}
#bt-2{
    width : 50%;
    height : 100%;
    padding-right : 7px;
    color : black;
    border-radius: 20px;
}

#cards-sections{
    height : 38vh;
    width : 90vw;
    padding-left : 7vh;
    padding-top : 2vh;
    display : flex;
    gap : 30px;
    overflow-x: auto;
}

.card{
    height : 33vh;
    width : 10vw;
    position : relative;
}
.card-img{
    width : 10vw;
    height : 26vh;
    overflow : hidden;
    border-radius : 10px;
}
.card-img img{
    width : 100%;
    height : 100%;
    background-size : cover;
    background-position : center;
}
.details{
    width : 10vw;
    height : 5vh;
    position : absolute;
    bottom: 0%;
    padding-left : 10px;
}

#bc-overlay {
    width: 100%;
    height: 50vh;
    background-color: #0182b94f;
    position: absolute;
    padding: 5vh;
}

#welcome img{
    width : 100%;
    height : 100%;
    position: absolute;
}
#welcome h1{
    font-size: 10vh;
    color : white;
    line-height: 7vh;
    font-weight: 500;
}
#wraper{
    width: 80vw;
    height: 80%;
    top: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#welcome h3{
    color: white;
    font-size: 4vh;
    white-space: nowrap;
    font-weight: 500;
}
#search{
    width: 80vw;
    height: 6vh;
    background-color: white;
    border-radius: 25px;
    overflow : hidden;
    position: relative;
    margin-top: 20px;
}
#search input{
    width : 100%;
    height : 100%;
    padding: 15px;
    outline-color: transparent;
}
#search button{
    position: absolute;
    right: 0%;
    width : 8vw;
    height: 100%;
    background: linear-gradient(to right,#16CCBA,#06BADA);
    border-radius: 20px;
    color : white;
    font-weight: 500;
    
}