.main{
    width : 100%;
    position : relative;
}
.layout{
    width : 84vw;
    left : 8%;
    position : relative;
    display : flex;
}

.topNav{
    width : 84vw;
    height : 7vh;
    left : 8%;
    position : relative;
    display : flex;
    align-items : center;
}
.topNav h1{
    font-size : 2vh;
    font-weight : 600;
    color : black;
}

.left{
    width : 20vw;
    height : 140vh;
    display : flex;
    flex-direction : column;
    gap : 12px;
}
.right{
    width : 64vw;
    min-height: 145;  
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    gap : 25px;
    align-content: flex-start;
    padding-left: 3vw;
    z-index: 2;
    position : relative;
}
.card{
    height : 33vh;
    width : 10vw;
    position : relative;
    background-color : white;
    overflow : hidden;
    border-radius : 10px;
    border: 1px solid rgba(0, 0, 0, 0.349);
}
.cardImg{
    width : 10vw;
    height : 26vh;
    overflow : hidden;
}
.cardImg img{
    width : 100%;
    height : 100%;
    background-size : cover;
    background-position : center;
}
.details{
    width : 10vw;
    height : 5vh;
    position : absolute;
    bottom: 0%;
    padding-left : 10px;
    line-height: 6px;
}
.details h5{
    font-size : 14px;
}
.details p{
    font-size : 10px;
}

.button{
    width : 55vw;
    height : 4vh;
    background-color : blue;
    border-radius: 7px;
    text-align : center;
    color : white;
    position : relative;
    left : calc(8% + 23vw);
}

.alpha{
    width : 100%;
    height : 6vh;
    border-radius : 7px;
    border : 1px solid rgba(0, 0, 0, 0.425);
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding : 20px;
}
.beta{
    width : 100%;
    height : 6vh;
    border-radius : 7px;
    border : 1px solid rgba(0, 0, 0, 0.425);
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding : 20px;
}
.delta{
    width : 100%;
    height : 84%;
    border-radius : 7px;
    border : 1px solid rgba(0, 0, 0, 0.425);
    display : flex;
    flex-direction : column;
}
.gama{
    width : 100%;
    height : 6vh;
    border-radius : 7px;
    border : 1px solid rgba(0, 0, 0, 0.425);
}
.u{
    width : 100%;
    height : 6vh;
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding : 20px;
}
.hotel{
    width : 100%;
    height: 10%;
    border-top : 1px solid rgba(0, 0, 0, 0.425);
    border-bottom : 1px solid rgba(0, 0, 0, 0.425);
    display : flex;
    flex-direction : column;
    padding-left: 20px;
}